
.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

.text-center {
}

.navbar-black{


}


#carousel-color{
  background-color:black;
}

.briefing {
  text-align: center;
}

.explainImage {
  width:50%;
}