.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transition: .5s ease;
  background-color: #080808;
}

.oContainer:hover .overlay {
  opacity: 1;
}

.text {
  color: #c4bd97;
    font-family: 微软雅黑;
  font-size:18pt;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.covertext {
  font-family: 微软雅黑;
  color: #c4bd97;
  font-size:16pt;
}


